body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Domine', serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #464646;
}

h1,
h3,
h4,
h5 {
  font-family: 'Montserrat';
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 0;

}

h2 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 100;
}

.post-content h3 {
  font-size: 40px;
  margin-bottom: 0;
}

.post-content h4 {
  font-size: 28px;
  margin-bottom: 0;
}

.post-content h5 {
  font-size: 18px;
  margin-bottom: 0;
}


.post-data,
.post-data a {
  color: #00B379;
}

header {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e3e3e3;
}

article {
  width: 80%;
  max-width: 700px;
  margin: 10% auto;
}

.table-of-contents {
  padding-bottom: 25px;
  border-bottom: 1px solid #e3e3e3;
}

.table-of-contents a {
  text-decoration: none;
  color: inherit;
}

.table-of-contents a:hover {
  color: #00B379;
}


.table-of-contents i {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.3s ease;
}

.table-of-contents i:hover {
  color: #00B379;
}

.table-of-contents li {
  list-style-type: none;
}

.table-contents {
  padding-left: 25px;
}

.table-contents li {

}

.post-content p {
  line-height: 2;
  text-align: justify;
  text-indent: 50px;
}



/* Sticky Nav */

.sticky-nav {
    position: fixed;
    width: 25px;
    left: 20%;
    top: 50%;
}

.vert-bar {
  height: 100%;
  width: 2px;
  background: #00B379;
  position: relative;
  display: block;
  left: 48%;
  position: absolute;
}

.chapters {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  position: relative;
  display: block;
  background: #00B379;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box;
  /*border: 3px solid #00B379;*/

  margin-bottom: 15px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}
/*
.chapters:nth-child(2) {
    top: 0;
}

.chapters:nth-child(3) {
  top: 15px;
}

.chapters:nth-child(4) {
  top: 30px;
}

.chapters:nth-child(5) {
  top: 45px;
}

.chapters:nth-child(6) {
  top: 60px;
}

.chapters:nth-child(7) {
  top: 75px;
}*/

.chapters:nth-child(8) {
  margin-bottom: 0;
}

.chapters:hover {
  -moz-webkit-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.circle-xxs {
  width: 10px;
  height: 10px;
  background-color: #BEFBE7;

}

.circle-xs {
  width: 12px;
  height: 12px;
  background-color: #A1F5D9;

}

.circle-s {
  width: 14px;
  height: 14px;
  background-color: #7CE2C0;
}

.circle-m {
  width: 16px;
  height: 16px;
  background-color: #63E2B9;
}

.circle-l {
  width: 18px;
  height: 18px;
  background-color: #31D09C;
}

.circle-xl {
  width: 20px;
  height: 20px;
  background-color: #31D09C;
}

.circle-xxl {
  width: 22px;
  height: 22px;
  background-color: #31D09C;
}

.active {
  width: 25px;
  height: 25px;
  opacity: 1;
  border: 3px solid #31D09C;
  background-color: #fff;
}










